<div class="ui form">
  <div class="field">
    <label>ანგარიშის სახელი</label>
    <!-- <input 
      type="text"
      (input)="onUpdateAccountName($event)"> -->
    <input 
      type="text"
      [(ngModel)]="accountName">
  </div>
</div>
<!-- <p>{{ accountName }}</p> -->
<button
  class="ui button"
  [disabled]="!allowNewAccount"
  (click)="onCreateAccount()">Add Account</button>
<!-- <p [innerText]="allowNewAccount"></p> -->
<!-- <p>{{ accountCreationStatus }}</p> -->
<p *ngIf="accountCreated">ანგარიში შეიქმნა! ახალი ანგარიშის სახელია: {{ accountName }}</p>
<bg-account *ngFor="let account of accounts"></bg-account>
