<div class="ui container">
  <h1>სემინარის დავალება</h1>
  <ol>
    <li>შექმენით ფორმა რომლის კონტროლები და ვალიდატორებიც იქნება:</li>
    <ol>
      <li>პროექტის სახელი (არ უნდა იყოს ცარიელი)</li>
      <li>მეილი (არ უნდა იყოს ცარიელი და უნდა იყოს სწორი მეილის ფორმატი)</li>
      <li>პროექტის სტატუსი, select სამი მნიშვნელობით: სტაბილური, კრიტიკული, დასრულებული</li>
      <li>დასრულების ღილაკი</li>
    </ol>
    <li>დაამატეთ ვალიდატორს კლასი რომელიც დაა-extend-ებს Validators და გამოიყენეთ ამ კლასის ვალიდატორები.</li>
    <li>დაამატეთ ვალიდატორი რომელიც შეამოწმებს რომ პროექტის სახელში არ ჩაიწეროს Test (არც დიდი არც პატარა ასოებით).</li>
    <li>ასევე შექმენით(ან გადააკეთეთ წინა ასინქრონულად) ასინქრონული ვალიდატორი, რომელიც შეამოწმებს მეილი test@test.com-ს ხომ არ უდრის</li>
    <li>submit ღილაკზე დაჭერისას კონსოლში დალოგეთ ფორმის მნისვნელობა.</li>
  </ol>
  <!-- TODO: წაშალეთ ეს კომენტარი და ამის ადგილას ჩასვით თქვენი კომპონენტები -->
</div>
