<div class="ui container">
  <h1>სემინარის დავალება</h1>
  <ol>
    <li>შექმენით ორი კომპონენტი home და counter</li>
    <li>შექმენით როუტერი ამ ორი კომპონენტისთვის</li>
    <li>აჩვენეთ მენიუს ღილაკებზე დაჭერის შესაბამისად ეს კომპონენტები და გასტილეთ მენიუც შესაბამისად</li>
    <li>დაამატეთ მთვლელში ერთი ღილაკი და ერთი რიცხვი რომელიც ამ ღილაკზე დაჭერისას გაიზრდება (თუ შეძლებთ ეს queryParams-ის საშუალებით გააკეთეთ)</li>
  </ol>
  <div class="ui menu">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="item">მთავარი</a>
    <a routerLink="counter" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="item">მთვლელი</a>
  </div>
  <!-- TODO: წაშალეთ ეს კომენტარი და ამის ადგილას ჩასვით თქვენი კომპონენტები -->
  <router-outlet></router-outlet>
</div>
