<button class="ui orange button" (click)="onFetchPosts()">პოსტების წამოღება</button>
<p *ngIf="!posts.length && !isLoading">არ არის პოსტები.</p>
<p *ngIf="isLoading && !error">პოსტები წამოღების პროცესშია.</p>
<div class="ui error message" *ngIf="error">
  <i class="close icon" (click)="error = undefined"></i>
  <div class="header">Error</div>
  {{ error }}
</div>
<div class="ui segments" *ngIf="posts.length && !isLoading">
  <div class="ui clearing segment" *ngFor="let post of posts">
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
    <button class="ui right floated red icon button" (click)="onDeletePost(post.id)">
      <i class="trash icon"></i>
    </button>
  </div>
</div>
