$red: #db2828;

@font-face {
  font-family: bpg_arial;
  src: url('/assets/fonts/bpg_arial_2009.ttf');
}

html, body, h1, h2, h3, h4, h5 {
  font-family: bpg_arial;
}

input.ng-touched.ng-invalid, select.ng-touched.ng-invalid {
  border-color: $red !important;
}

.bg-popup {
  position: relative;

  .body {
    display: none;
  }

  &.active .body {
    position: absolute;
    display: block;
    top: calc(100% + 12px);
    right: 3px;
    padding: 7px 0 5px 0;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 13px;
      width: .71428571em;
      height: .71428571em;
      background: #fff;
      z-index: 1901;
      box-shadow: 1px 1px 0 0 #bababc;
      transform: rotate(-135deg) translateY(70%);
    }

    .item {
      padding: 10px;

      &:hover {
        background-color: #ECF0F1;
      }
    }
  }
}

.ui.card {
  height: 100px;
  justify-content: center;
  align-items: center;
  color: inherit;
}


.ui.segment {
  box-shadow: rgba(0, 0, 0, 0.098) 0 3px 5px;

  &:not(.bordered) {
    border: none;
  }
}

.ui.segments, .ui.horizontal.segments {
  box-shadow: rgba(0, 0, 0, 0.098) 0 3px 5px;
  overflow: hidden;

  &:not(.bordered) {
    border: none;
  }
}

.ui.attached.vertical.menu {
  border: none;

  .item {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.table-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px 4px 0 0;
  border: 1px solid rgb(214, 214, 214);
  border-bottom: none;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.098) 0px 3px 5px;
  font-weight: bold;
}

table {
  position: relative;
  border-collapse: collapse;
  width: 100% !important;
  border-radius: 0 0 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.098) 0px 3px 5px;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 0 0 4px 4px;
    pointer-events: none;
  }

  thead {
    border-collapse: collapse;
    background-color: rgb(235, 235, 235);
  }

  tbody {
    border-collapse: collapse;
  }

  th, td {
    border-right: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 10px;
    text-align: center;

    &:last-child {
      border-right: none;
    }
  }

  tr:last-child td, thead:last-child th {
    border-bottom: none;
  }

  .trash.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: background-color .5s, color .5s;
    color: #ADADAD;

    &:hover {
      background-color: rgba(235, 235, 235, 1);
      cursor: pointer;
      color: #db2828;
    }
  }
}
