<div class="ui container">
  <button
    class="ui blue button"
    (click)="onlyOdd = !onlyOdd">
    გამოაჩინე მხოლოდ კენტი რიცხვები
  </button>
  <br><br>
  <div class="ui segments">
    <ng-container *ngIf="onlyOdd">
      <div
        class="ui segment"
        *ngFor="let odd of odds">
          {{ odd }}
      </div>
    </ng-container>
    <ng-container *ngIf="!onlyOdd">
      <div
        class="ui segment"
        *ngFor="let even of evens">
          {{ even }}
      </div>
    </ng-container>
  </div>
</div>
