$header-height: 60px;
$left-sidebar-width: 256px;
$background-color: #f0f3f6;
$white: #fff;

.left-sidebar {
  position: relative;
  float: left;
  width: $left-sidebar-width;
  height: calc(100% - #{$header-height});
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 0;

  &__user-section {
    padding: 15px;
    padding-top: 40px;
    background-image: url('/assets/images/account-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: right;
    min-height: 160px;
  }

  &__pages-section {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid $background-color;

      a {
        display: block;
        padding: 15px;
        color: #7b7b7b;
        transition: background-color .12s linear;
        user-select: none;

        &:hover {
          background-color: #f9fafb;
        }

        &.active {
          background-color: #f0f1f2;
        }
      }
    }
  }
}
