<div class="left-sidebar">
  <div class="left-sidebar__user-section">
    <!-- TODO: Show User's name and picture here -->
  </div>
  <ul class="left-sidebar__pages-section">
    <li>
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="home icon"></i>
        <span>მთავარი</span>
      </a>
    </li>
    <li>
      <a
        routerLink="krnicp"
        routerLinkActive="active">
        <i class="user icon"></i>
        <span>კლიენტები</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['sto004']"
        routerLinkActive="active">
        <i class="robot icon"></i>
        <span>მუდმივი დავალებები</span>
      </a>
    </li>
  </ul>
</div>
