<div class="left-sidebar">
  <div class="left-sidebar__user-section">
    <!-- TODO: Show User's name and picture here -->
  </div>
  <ul class="left-sidebar__pages-section">
    <li>
      <a href="#" class="active">
        <i class="home icon"></i>
        <span>მთავარი</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="user icon"></i>
        <span>კლიენტები</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="robot icon"></i>
        <span>მუდმივი დავალებები</span>
      </a>
    </li>
  </ul>
</div>
