<div class="header">
  <a href="/" class="header__logo">
    <img src="/assets/images/logo.svg" alt="logo">
  </a>
  <div class="header__left-panel">
    <div class="ui left circular icon input header__left-panel__search">
      <input type="text">
      <i class="search icon"></i>
    </div>
    <div class="ui basic circular icon button">
      <i class="film icon"></i>
    </div>
    <div class="ui basic circular icon button">
      <i class="envelope icon"></i>
    </div>
    <div class="ui basic circular icon button">
      <i class="bell icon"></i>
    </div>
    <div class="ui basic circular icon button">
      <i class="bars icon"></i>
    </div>
    <!-- TODO: add directive so that popup works -->
    <div class="ui basic circular icon button bg-popup">
      <i class="user icon"></i>
      <div class="body">
        <div class="item">
          გასვლა
        </div>
      </div>
    </div>
  </div>
</div>
